# Maintainers table
# | Full Name         | Company    | GitHub                                                         |
# |-------------------|:----------:|----------------------------------------------------------------|
# | Emil Bäckmark     | Ericsson   | [@e-backmark-ericsson](https://github.com/e-backmark-ericsson) |
# | Andrea Frittoli   | IBM        | [@afrittoli](https://github.com/afrittoli)                     |
# | Ben Powell        | Apple      | [@xibz](https://github.com/xibz)                               |

# Emeritus maintainers (must be in a comment)
# Note yet

# Repo maintainers
* @cdevents/spec-maintainers
