name: CDEvents

# Controls when the workflow will run
on:
  # allow manual trigger on any branch to test,...
  workflow_dispatch:
  # Triggers the workflow on push or pull request events but only for the main branch
  pull_request:
    branches: [main, spec-v*]

###############
# Set the Job #
###############
jobs:
  lint:
    name: Lint Code Base
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          # Full git history is needed to get a proper list of changed files within `super-linter`
          fetch-depth: 0

      ################################
      # Run Linter against code base #
      ################################
      - name: Lint Code Base
        uses: github/super-linter/slim@v7
        env:
          VALIDATE_ALL_CODEBASE: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_MARKDOWN: true
          VALIDATE_JSON: true
          # superlinter runs each linter on a per file bases and does not look
          # at tool specific configuration to determine whether or not to the
          # lint the given file.
          #
          # Due to that we need to globally include or exclude files. This also
          # makes tools less flexible with one another in that if a tool
          # requires a specific folder to be included and excluded, but other
          # tools require must lint the excluded folder, then this pattern does
          # not work. Instead superlinter cannot be used in that case, and the
          # linter itself needs to be ran outside of superlinter.
          FILTER_REGEX_INCLUDE: .*\/(custom|examples|schemas)\/.*

  jsonschema:
    name: Validate Schemas and Examples
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: tools/package-lock.json
      - name: Install dependencies
        run: npm ci --no-fund
        working-directory: tools
      - name: Run Validate
        run: npm run validate
        working-directory: tools

  spellcheck:
    name: Spellcheck (en_US)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Spellcheck
        uses: rojopolis/spellcheck-github-actions@0.55.0
